@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

@font-face {
    font-family: 'Rusty Hooks';
    src: url(/assets/font/rusty-hooks/rusty-hooks.otf),
    url(/assets/font/rusty-hooks/rusty-hooks.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background-color: var(--gris-clair);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    color: var(--noir-gris);
}

:root {
    --orange : #FB6A56;
    --gris-clair : #F0EEEE;
    --noir-gris : #2C2C2C;
    --blanc : #ffffff;
    --titre: 'Rusty Hooks', serif;
    --paragraphe: 'Ubuntu', sans-serif;
    ;
}

h1 {
    font-family: var(--titre);
    font-size: 1.5em;
    text-align: center;
}

h2 {
    color: var(--orange);
    font-family: var(--titre);
    font-size: 1.2em;
    text-decoration: underline;
}

p {
    font-family: var(--paragraphe);
    font-weight: 300;
    text-transform: capitalize;
}


input {
    border: none;
    background-color: transparent;
    font-family: var(--paragraphe);
    font-weight: 300;
    outline: 0;
}

input::slotted {
    background-color: #FB6A56;
}

button {
    border: none;
    background-color: transparent;
    font-family: var(--paragraphe);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8em;
    color: var(--orange);
}

button img {
    width: 20px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blanc);
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
    padding: 20px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    width: 100%;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0 4em;
}

#info div {
    margin-top: 1.5em;
    animation: identifier 0.5s ease-out;
}

#info img {
    margin-top: 0.8em;
    width: 40%;
}

#info p {
    margin-top: 0.8em;
}

@keyframes identifier {
    from {
        transform: translateY(100px);
    }
}